<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: htmlHead"></head>
<body>
<div class="container">
    <h1>Новая задача</h1>
    <form
            method="post"
            th:action="@{/tasks/create}"
            th:object="${task}"
    >
        <div class="form-group">
            <label for="description">Описание</label>
            <input id="description" class="form-control" th:field="*{description}" required>
        </div>
        <div class="form-group">
            <label for="priorityId">Приоритет</label>
            <select id="priorityId" class="form-control form-select" name="priorityId" required>
                <option
                        th:each="priority: ${priorities}"
                        th:value="${priority.id}"
                        th:text="${priority.name}"
                ></option>
            </select>
        </div>
        <div class="form-group">
            <label for="categories">Категории</label>
            <select id="categories" class="form-control form-select" name="categoryIds" multiple required>
                <option
                        th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}"
                ></option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Создать</button>
    </form>
</div>
</body>
</html>