<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: htmlHead"></head>
<body>
<div class="container">
    <h1>Новая задача</h1>
    <form
            method="post"
            action="/tasks/create"
    >
        <div class="form-group">
            <label for="description">Описание</label>
            <input id="description" class="form-control" name="description" required>
        </div>
        <button type="submit" class="btn btn-success">Создать</button>
    </form>
</div>
</body>
</html>