<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: htmlHead"></head>
<body>
<div class="container">
    <h1>Регистрация</h1>
    <form
            method="post"
            action="/users/register"
    >
        <div class="form-group">
            <label for="name">Имя</label>
            <input id="name" class="form-control" name="name" required>
        </div>
        <div class="form-group">
            <label for="login">Логин</label>
            <input id="login" class="form-control" name="login" required>
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input id="password" class="form-control" name="password" type="password" required>
        </div>
        <div class="form-group">
            <label for="timeZone">Часовой пояс</label>
            <select id="timeZone" class="form-control form-select" name="userZone" required>
                <option
                        th:each="timeZone : ${timeZones}"
                        th:value="${timeZone.getID()}"
                        th:text="${timeZone.getDisplayName()}"
                ></option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Подтвердить регистрацию</button>
    </form>
</div>
</body>
</html>